body{
  background-color: #ffffff;
}
.sidebar {
  position: fixed;
  background-color:#3b6978;
  height: 100%;
  width: 20%;
  text-align: center;
}
.main-content{
  position: absolute;
  left: 20%;
}
.nav-item{
  padding: 30px 0;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.nav-item i{
  font-size: 30px;
}
.beer-container{
  position: absolute;
  padding: 0 5%;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.beer-item{
  position: relative;
  height: 200px;
  width: 150px;
  margin: 30px;
}
.main-title{
  position: relative;
  left: 10%;
  text-align: center;

}